.goal-chart-container {
  
  border-radius: 16px;
  
  
  max-width: 100%;
}

.goal-chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.goal-chart-header h3 {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

.goal-chart-header select {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
